.mainNav{
	margin: 0;
	padding: 0;
}
.profilePic{
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.color{
	color: #fff;
     background-color: #fff; 
     border-color: #fff;
    }
 .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 	font-size:30px;
 	font-weight: bold;
}   

input.form-control.commentinput::placeholder {
    font-size: 10px;
}



/* show comments */
.modal-content{
	height: 90vh !important;
	overflow-y: scroll;
}
.commentSection{
    height: 67vh;
    overflow-y: scroll;
    width: 100%;
}

@media only screen and (min-width: 765px) and (max-width: 800px)  {
 	.commentSection{
	    height: 75vh;
	    overflow-y: scroll;
	    width: 100%;
	}
}


@media only screen and (max-width: 600px) {
 	.commentSection{
	    height: 74vh !important;
	    overflow-y: scroll;
	    width: 100%;
	}
}