.profileSection{
	border-left: 2px solid black;
}
.profileHeader{
	font-size: 20px;
	color: rgb(62,176,247);
	line-height: 2.6;
}
.profileName{
	font-size: 20px;
	color: rgb(247, 62, 84)
}
.mainProfilePic{
	height: 20%;
	width: 50%;
}

.humburger {
  display: none;
}


@media only screen and (max-width: 992px) {
  .humburger {
    display: block;
  }
  .webSiteView{
  	display: none
  }
}