.profileSection{
	border-left: 2px solid black;
}
.profileHeader{
	font-size: 20px;
	color: rgb(62,176,247);
	line-height: 2.6;
}
.profileName{
	font-size: 20px;
	color: rgb(247, 62, 84)
}
.mainProfilePic{
	height: 200px;
	width: 200px;
}

.humburger {
  display: none;
}


@media only screen and (max-width: 992px) {
  .humburger {
    display: block;
  }
  .webSiteView{
  	display: none
  }
  .mainProfilePic{
	height: 100px;
	width: 100px;
	}
	.profileHeader{
		font-size: 10px;
		color: rgb(62,176,247);
		line-height: 2.6;
	}
	.profileName{
		font-size: 10px;
		color: rgb(247, 62, 84)
	}
	.mobileProfile{
		display: none;
	}
	.titleDiv {
		line-height: 16px;
	}
}