.profileHeader{
	font-size: 20px;
	color: rgb(62,176,247);
	line-height: 2.6;
}
.profileName{
	font-size: 20px;
	color: rgb(247, 62, 84);
	line-height: 2.6;

}

.blogHero{
	height: 750px;
	overflow-y: scroll;
}
.edit_pic{
    width: 100px;
    height: 100px;
    border: none;
    object-fit: cover
}
.img-preview{
    width: 100px;
    height: 100px;
    border: none; 
    object-fit: cover
}
span.text {
  font-size:100px;
  position: absolute;
  top: 5%;
  left: 90%;
  color:white;
  z-index:10;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}
.editForm{
  width: 50% !important;
}
/*add blog page design*/
.titleDiv{
  line-height: 2px;
}
.showPreview{
  height: 100%;
  width: 100%;
}


/*show blog page*/
.blogimg{
  height: 100%;
  width: 100%;
}
.leftCaroselBtn{
    position: absolute !important;
    top: 38% !important;
    left: 0 !important;
    visibility: hidden;

  }
.rightCaroselBtn{
    position: absolute !important;
    top: 38%  !important;
    right: 0 !important;
    visibility: hidden;

}  

.rightCaroselBtn:after {
  content:'\003E'; 
  visibility: visible;
  display: block;
  position: absolute;
  background-color: rgba(255,255,255,0.4);
  color: black;
  padding: 5px;
  top: 2px;
}
.leftCaroselBtn:after {
  content:'\003C'; 
  visibility: visible;
  display: block;
  position: absolute;
  background-color: rgba(255,255,255,0.4);
  color: black;
  padding: 5px;
  top: 2px;
}
.LikeIcon{
  font-size: 22px;
}
.blog_content{
  line-height: 2px;
}

.blogAdminImg{
  height: 40px;
  width: 40px;
}
.editDots{
  float: right;
}
@media only screen and (max-width: 992px) {
  .content-image{
	  width: 100%;
	  height: 300px;
	}
  .editForm{
    width: 100% !important;
  }
}